html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

input {
    all: unset;
}

.app {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #353535;
}

.container-wrapper {
    display: grid;
    max-width: 100%;
    padding: 4px;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr); /* Adjust the number of columns as needed */
    background-color: white; /* Set the background color of the grid */
    width: 800px;
    height: 800px;
    max-width: 100%;
    border: 5px solid black;
}

.grid-box {
    border: 0.5px solid #eeeeee; /* Add border to the grid cells */
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* SETTINGS */
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border: 2px solid #FBA320;
    gap: 12px;
    padding: 12px 0px;
    color: rgb(250,198,80);
    background-color: #474747;
    border-radius: 36px;

}

.settings > .pen-color,
.settings > .bg-color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#color-select, 
#bg-select {
    display: flex;
    border: 0;
    outline: none;
    width: 44px;
    height: 36px;
    cursor: pointer;
}


.settings > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings > #btn {
    padding: 12px 32px;
    border: 2px solid #FEB246;
    border-radius: 36px;
    cursor: pointer;
}

.settings > #size-range {
    margin-top: 12px;
}

.clear:active,
.active { 
    background-color: #F79401;
    color: #0D0702;
}

/* HEADER AND FOOTER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #FCA521;
    background-color: #232323;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    text-align: center;
    justify-content: center;
    padding: 24px;
    color: #FCA521;
    margin-top: auto;
}

/* STYLING THE SLIDER */
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #ccc; /* Fallback color for browsers that don't support gradient */
    background: linear-gradient(to right, #FCA521, #FCA521) no-repeat, #ccc;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FCA521;
    border: 2px solid #232323;
    margin-top: -5px;
}