.app {
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Adjust the number of columns as needed */
    background-color: #f0f0f0; /* Set the background color of the grid */
    padding: 10px; /* Add padding to the grid container */
}

.grid-box {
    border: 1px solid #ccc; /* Add border to the grid cells */
    padding: 10px; /* Add padding to the grid cells */
    text-align: center;
}

* {
    border: 2px solid black;
}